
@media screen and (max-width:1158px) {

    .discription-icon {
        display: none;
    }
}


@media screen and (max-width:767px) {
    
.discription-icon {
    display: none;
}

.list-description {
    flex-direction: column;
    gap: 72px;
}
}

.description-container {
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
        position: relative;
            overflow: hidden;
}

.description {
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 72px;
}

.title-description {
    
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2E2F42;
    text-align: center;

}

.content-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    align-self: stretch;
        color: var(--SLATE, #434455);
                width: 288px;

}

@media screen and (min-width:768px) {
    .content-description {
        width: 356px;

    }
        .description {
            display: flex;
            flex-direction: column;
            
            gap: 72px;
            text-align: left;
        }

.title-description {
    text-align: left;
}

.list-description {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-description-items {
    width: calc((100% - 32px) / 2);
    text-align: left;
}


}







/* @media screen and (min-width:1158px) {
    .content-description{
        width: 1158px;
        margin-left: auto;
        margin-right: auto;
    }
.title-description {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.content-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.list-description {
    display: flex;
    gap: 24px;
}

.list-description-items {
    width: calc((100% - 72px) / 4);
}

.box-discription {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
}

.discription-icon {
    display: flex;

    width: 64px;
    height: 64px;
    flex-shrink: 0;


}
} */


@media screen and (min-width:1158px) {


.content-description {
    width: 264px;
}

.list-description {
    display: flex;
    gap: 24px;
}

.list-description-items {
    width: calc((100% - 72px) / 4);
}

.box-discription {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
}

.discription-icon {
    display: flex;

    width: 64px;
    height: 64px;
    flex-shrink: 0;

}
}